<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            {{#if @site.logo}}
                                <a class="fr-responsive-img" style="max-width:4.0625rem;"  href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
                            {{else}}
                                <a class="site-nav-logo" href="{{@site.url}}"></a>
                                <div class="rf-service">
                                <a class="rf-service__title" href="{{@site.url}}" title="{{@site.title}}">
                                {{@site.title}}
                                </a>
                                <p class="rf-service__tagline">baseline - précisions sur l‘organisation</p>
                                </div>
                            {{/if}}
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-870" aria-haspopup="menu" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                            {{#if @site.navigation}}
                                {{navigation}}
                            {{/if}}
                            {{#if @labs.members}}
                                <a class="subscribe-button" href="#subscribe">Subscribe</a>
                            {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-870" aria-labelledby="button-871">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="modal-870">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="navigation-869" role="navigation" aria-label="Menu principal">
            </nav>
        </div>
    </div>
</header>

